{% load render_partial %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> shop | {% block title %}{% endblock %}</title>
    {% block header %}{% endblock %}
    {% include 'shared/header_refrences.html' %}
</head><!--/head-->

<body>
{% include 'shared/Header.html' %}
{% block content %}{% endblock %}
{% render_partial 'footer' %}
{% include 'shared/footer_refrences.html' %}
</body>
</html>